In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
df = pd.read_csv('/content/sonar.all-data.csv', header=None)

In [85]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Freq_1,Freq_2,Freq_3,Freq_4,Freq_5,Freq_6,Freq_7,Freq_8,Freq_9,Freq_10,...,Freq_52,Freq_53,Freq_54,Freq_55,Freq_56,Freq_57,Freq_58,Freq_59,Freq_60,Label
1,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032,R
2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.014,0.0049,0.0052,0.0044,R
3,0.0262,0.0582,0.1099,0.1083,0.0974,0.228,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.018,0.0244,0.0316,0.0164,0.0095,0.0078,R
4,0.01,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.015,0.0085,0.0073,0.005,0.0044,0.004,0.0117,R

In [86]:
df.drop([0],axis=0,inplace=True)

In [87]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
1,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032,R
2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.014,0.0049,0.0052,0.0044,R
3,0.0262,0.0582,0.1099,0.1083,0.0974,0.228,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.018,0.0244,0.0316,0.0164,0.0095,0.0078,R
4,0.01,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.015,0.0085,0.0073,0.005,0.0044,0.004,0.0117,R
5,0.0762,0.0666,0.0481,0.0394,0.059,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.011,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [88]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
204,0.0187,0.0346,0.0168,0.0177,0.0393,0.163,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
205,0.0323,0.0101,0.0298,0.0564,0.076,0.0958,0.099,0.1018,0.103,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
206,0.0522,0.0437,0.018,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.016,0.0029,0.0051,0.0062,0.0089,0.014,0.0138,0.0077,0.0031,M
207,0.0303,0.0353,0.049,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
208,0.026,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.14,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.004,0.0036,0.0061,0.0115,M

In [89]:
df.shape

(208, 61)

In [90]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [91]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
count,208,208,208,208,208,208,208,208,208,208,...,208,208,208,208,208,208,208,208,208,208
unique,177,182,190,181,193,196,195,201,205,207,...,144,134,134,129,122,121,124,119,109,2
top,0.0201,0.0279,0.0257,0.0608,0.1615,0.0887,0.0771,0.078,0.0598,0.2354,...,0.0091,0.0129,0.0079,0.0075,0.0054,0.0054,0.0036,0.007,0.0053,M
freq,5,2,2,3,2,2,3,2,2,2,...,5,5,5,5,5,7,6,6,7,111

In [92]:
df[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

In [93]:
df.groupby(60).mean()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [M, R]

In [94]:
X= df.drop(columns=60,axis=1)
Y = df[60]

In [95]:
X

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
1,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032
2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.014,0.0049,0.0052,0.0044
3,0.0262,0.0582,0.1099,0.1083,0.0974,0.228,0.2431,0.3771,0.5598,0.6194,...,0.0033,0.0232,0.0166,0.0095,0.018,0.0244,0.0316,0.0164,0.0095,0.0078
4,0.01,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0241,0.0121,0.0036,0.015,0.0085,0.0073,0.005,0.0044,0.004,0.0117
5,0.0762,0.0666,0.0481,0.0394,0.059,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.011,0.0015,0.0072,0.0048,0.0107,0.0094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.0187,0.0346,0.0168,0.0177,0.0393,0.163,0.2028,0.1694,0.2328,0.2684,...,0.0203,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157
205,0.0323,0.0101,0.0298,0.0564,0.076,0.0958,0.099,0.1018,0.103,0.2154,...,0.0051,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067
206,0.0522,0.0437,0.018,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0155,0.016,0.0029,0.0051,0.0062,0.0089,0.014,0.0138,0.0077,0.0031
207,0.0303,0.0353,0.049,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0042,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048
208,0.026,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.14,0.1843,0.2354,...,0.0181,0.0146,0.0129,0.0047,0.0039,0.0061,0.004,0.0036,0.0061,0.0115

In [96]:
Y

1      R
2      R
3      R
4      R
5      R
      ..
204    M
205    M
206    M
207    M
208    M
Name: 60, Length: 208, dtype: object

In [97]:
print(X)

         0       1       2       3       4       5       6       7       8   \
1      0.02  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109
2    0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
3    0.0262  0.0582  0.1099  0.1083  0.0974   0.228  0.2431  0.3771  0.5598
4      0.01  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
5    0.0762  0.0666  0.0481  0.0394   0.059  0.0649  0.1209  0.2467  0.3564
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
204  0.0187  0.0346  0.0168  0.0177  0.0393   0.163  0.2028  0.1694  0.2328
205  0.0323  0.0101  0.0298  0.0564   0.076  0.0958   0.099  0.1018   0.103
206  0.0522  0.0437   0.018  0.0292  0.0351  0.1171  0.1257  0.1178  0.1258
207  0.0303  0.0353   0.049  0.0608  0.0167  0.1354  0.1465  0.1123  0.1945
208   0.026  0.0363  0.0136  0.0272  0.0214  0.0338  0.0655    0.14  0.1843

         9   ...      50      51      52      53      54      55      56  \
1    0.2111  ...  0.0232  0.0027  0.0065  0.0159  0.0072  0.0167   0.018
2    0.2872  ...  0.0125  0.0084  0.0089  0.0048  0.0094  0.0191   0.014
3    0.6194  ...  0.0033  0.0232  0.0166  0.0095   0.018  0.0244  0.0316
4    0.1264  ...  0.0241  0.0121  0.0036   0.015  0.0085  0.0073   0.005
5    0.4459  ...  0.0156  0.0031  0.0054  0.0105   0.011  0.0015  0.0072
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
204  0.2684  ...  0.0203  0.0116  0.0098  0.0199  0.0033  0.0101  0.0065
205  0.2154  ...  0.0051  0.0061  0.0093  0.0135  0.0063  0.0063  0.0034
206  0.2529  ...  0.0155   0.016  0.0029  0.0051  0.0062  0.0089   0.014
207  0.2354  ...  0.0042  0.0086  0.0046  0.0126  0.0036  0.0035  0.0034
208  0.2354  ...  0.0181  0.0146  0.0129  0.0047  0.0039  0.0061   0.004

         57      58      59
1    0.0084   0.009  0.0032
2    0.0049  0.0052  0.0044
3    0.0164  0.0095  0.0078
4    0.0044   0.004  0.0117
5    0.0048  0.0107  0.0094
..      ...     ...     ...
204  0.0115  0.0193  0.0157
205  0.0032  0.0062  0.0067
206  0.0138  0.0077  0.0031
207  0.0079  0.0036  0.0048
208  0.0036  0.0061  0.0115

[208 rows x 60 columns]

In [98]:
print(Y)

1      R
2      R
3      R
4      R
5      R
      ..
204    M
205    M
206    M
207    M
208    M
Name: 60, Length: 208, dtype: object

In [99]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [100]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
test_size=0.1,random_state=1)

In [101]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,0.0125,0.0152,0.0218,0.0175,0.0362,0.0696,0.0873,0.0616,0.1252,0.1302,...,0.0019,0.0041,0.0074,0.003,0.005,0.0048,0.0017,0.0041,0.0086,0.0058
30,0.0189,0.0308,0.0197,0.0622,0.008,0.0789,0.144,0.1451,0.1789,0.2522,...,0.0091,0.0038,0.0096,0.0142,0.019,0.014,0.0099,0.0092,0.0052,0.0075
12,0.0123,0.0309,0.0169,0.0313,0.0358,0.0102,0.0182,0.0579,0.1122,0.0835,...,0.0188,0.0133,0.0265,0.0224,0.0074,0.0118,0.0026,0.0092,0.0009,0.0044
125,0.0388,0.0324,0.0688,0.0898,0.1267,0.1515,0.2134,0.2613,0.2832,0.2718,...,0.0152,0.0255,0.0071,0.0263,0.0079,0.0111,0.0107,0.0068,0.0097,0.0067
148,0.0654,0.0649,0.0737,0.1132,0.2482,0.1257,0.1797,0.0989,0.246,0.3422,...,0.0243,0.021,0.0361,0.0239,0.0447,0.0394,0.0355,0.044,0.0243,0.0098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.0187,0.0346,0.0168,0.0177,0.0393,0.163,0.2028,0.1694,0.2328,0.2684,...,0.0203,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157
138,0.043,0.0902,0.0833,0.0813,0.0165,0.0277,0.0569,0.2057,0.3887,0.7106,...,0.0208,0.0176,0.0197,0.021,0.0141,0.0049,0.0027,0.0162,0.0059,0.0021
73,0.0208,0.0186,0.0131,0.0211,0.061,0.0613,0.0612,0.0506,0.0989,0.1093,...,0.014,0.0074,0.0063,0.0081,0.0087,0.0044,0.0028,0.0019,0.0049,0.0023
141,0.0412,0.1135,0.0518,0.0232,0.0646,0.1124,0.1787,0.2407,0.2682,0.2058,...,0.0798,0.0376,0.0143,0.0272,0.0127,0.0166,0.0095,0.0225,0.0098,0.0085
38,0.0333,0.0221,0.027,0.0481,0.0679,0.0981,0.0843,0.1172,0.0759,0.092,...,0.0036,0.0022,0.0032,0.006,0.0054,0.0063,0.0143,0.0132,0.0051,0.0041

In [102]:
Y_train

60     R
30     R
12     R
125    M
148    M
      ..
204    M
138    M
73     R
141    M
38     R
Name: 60, Length: 187, dtype: object

In [103]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
187,0.0209,0.0191,0.0411,0.0321,0.0698,0.1579,0.1438,0.1402,0.3048,0.3914,...,0.0054,0.0078,0.0201,0.0104,0.0039,0.0031,0.0062,0.0087,0.007,0.0042
156,0.0211,0.0128,0.0015,0.045,0.0711,0.1563,0.1518,0.1206,0.1666,0.1345,...,0.0174,0.0117,0.0023,0.0047,0.0049,0.0031,0.0024,0.0039,0.0051,0.0015
166,0.0221,0.0065,0.0164,0.0487,0.0519,0.0849,0.0812,0.1833,0.2228,0.181,...,0.0167,0.0089,0.0051,0.0015,0.0075,0.0058,0.0016,0.007,0.0074,0.0038
201,0.0131,0.0387,0.0329,0.0078,0.0721,0.1341,0.1626,0.1902,0.261,0.3193,...,0.0137,0.015,0.0076,0.0032,0.0037,0.0071,0.004,0.0009,0.0015,0.0085
59,0.0225,0.0019,0.0075,0.0097,0.0445,0.0906,0.0889,0.0655,0.1624,0.1452,...,0.0051,0.0034,0.0129,0.01,0.0044,0.0057,0.003,0.0035,0.0021,0.0027
35,0.0311,0.0491,0.0692,0.0831,0.0079,0.02,0.0981,0.1016,0.2025,0.0767,...,0.0089,0.0087,0.0032,0.013,0.0188,0.0101,0.0229,0.0182,0.0046,0.0038
152,0.0231,0.0315,0.017,0.0226,0.041,0.0116,0.0223,0.0805,0.2365,0.2461,...,0.0151,0.0125,0.0036,0.0123,0.0043,0.0114,0.0052,0.0091,0.0008,0.0092
19,0.027,0.0092,0.0145,0.0278,0.0412,0.0757,0.1026,0.1138,0.0794,0.152,...,0.0045,0.0084,0.001,0.0018,0.0068,0.0039,0.012,0.0132,0.007,0.0088
203,0.0272,0.0378,0.0488,0.0848,0.1127,0.1103,0.1349,0.2337,0.3113,0.3997,...,0.0146,0.0091,0.0045,0.0043,0.0043,0.0098,0.0054,0.0051,0.0065,0.0103
63,0.0086,0.0215,0.0242,0.0445,0.0667,0.0771,0.0499,0.0906,0.1229,0.1185,...,0.0047,0.0072,0.0054,0.0022,0.0016,0.0029,0.0058,0.005,0.0024,0.003
5,0.0762,0.0666,0.0481,0.0394,0.059,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0156,0.0031,0.0054,0.0105,0.011,0.0015,0.0072,0.0048,0.0107,0.0094
48,0.0373,0.0281,0.0232,0.0225,0.0179,0.0733,0.0841,0.1031,0.0993,0.0802,...,0.0066,0.0008,0.0045,0.0024,0.0006,0.0073,0.0096,0.0054,0.0085,0.006
111,0.021,0.0121,0.0203,0.1036,0.1675,0.0418,0.0723,0.0828,0.0494,0.0686,...,0.0104,0.0117,0.0101,0.0061,0.0031,0.0099,0.008,0.0107,0.0161,0.0133
207,0.0303,0.0353,0.049,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0042,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048
106,0.0116,0.0179,0.0449,0.1096,0.1913,0.0924,0.0761,0.1092,0.0757,0.1006,...,0.0031,0.0163,0.0099,0.0084,0.027,0.0277,0.0097,0.0054,0.0148,0.0092
173,0.018,0.0444,0.0476,0.0698,0.1615,0.0887,0.0596,0.1071,0.3175,0.2918,...,0.0122,0.0122,0.0114,0.0098,0.0027,0.0025,0.0026,0.005,0.0073,0.0022
32,0.0084,0.0153,0.0291,0.0432,0.0951,0.0752,0.0414,0.0259,0.0692,0.1753,...,0.0056,0.0236,0.0114,0.0136,0.0117,0.006,0.0058,0.0031,0.0072,0.0045
199,0.0238,0.0318,0.0422,0.0399,0.0788,0.0766,0.0881,0.1143,0.1594,0.2048,...,0.0186,0.0096,0.0071,0.0084,0.0038,0.0026,0.0028,0.0013,0.0035,0.006
34,0.0442,0.0477,0.0049,0.0581,0.0278,0.0678,0.1664,0.149,0.0974,0.1268,...,0.021,0.0204,0.0216,0.0135,0.0055,0.0073,0.008,0.0105,0.0059,0.0105
41,0.0068,0.0232,0.0513,0.0444,0.0249,0.0637,0.0422,0.113,0.1911,0.2475,...,0.0199,0.0173,0.0163,0.0055,0.0045,0.0068,0.0041,0.0052,0.0194,0.0105
176,0.0294,0.0123,0.0117,0.0113,0.0497,0.0998,0.1326,0.1117,0.2984,0.3473,...,0.0041,0.0056,0.0104,0.0079,0.0014,0.0054,0.0015,0.0006,0.0081,0.0043

In [104]:
Y_test

187    M
156    M
166    M
201    M
59     R
35     R
152    M
19     R
203    M
63     R
5      R
48     R
111    M
207    M
106    M
173    M
32     R
199    M
34     R
41     R
176    M
Name: 60, dtype: object

In [105]:
print(X_train.shape)

(187, 60)

In [106]:
print(X_test.shape,Y_test.shape)

(21, 60) (21,)

In [107]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [109]:
# model training
model = LogisticRegression()

In [110]:
lr = LogisticRegression

In [111]:
model.fit(X_train,Y_train)

LogisticRegression()

In [112]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [114]:
print('accuracy score on training data:',training_data_accuracy)

accuracy score on training data: 0.8556149732620321

In [115]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [116]:
print('accuracy score on test data:',test_data_accuracy)

accuracy score on test data: 0.7142857142857143

making predictive system

In [118]:
input_data = (0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.066,0.2273,0.31,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.555,0.6711,0.6415,0.7104,0.808,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.051,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032)
#changing the input_datato a numpy array
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction =model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]=='R'):
  print('The object is Rock')
else:
  print('The object is mine')

['R']
The object is Rock